//
// Variables
//

// Custom Margins
$separator-top: 10%;

// Sprite
$sprite-image: "../images/global-sprite";

// Typography
$font: sans-serif;

// Colors


// Neat variables
$max-width: 1200px;
$grid-colums: 12;

// Breakpoints
$desktop: 1000px;
$tablet: 700px;
$mobile-large: 500px;
